
/* ---------------------------------------------------------------------------------------------------------- */

/* NAVIGATION SECTION */

.container{
    display: flex;
    /* justify-content: space-around; */
    /* border:1px solid red; */
    color:rgb(59, 103, 51) ;
}

.navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: xx-large;
    /* border:1px solid red; */
}


header{
    display: flex;
}

/* Logo section */
.logo {
    display: flex;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: all 350ms ease-out 100ms;
}

.logo:hover{
    padding-left:5px;;
}

/* Navigation Section */
.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

/* .nav__links li{
    padding: 10px;
} */

.nav__links li a{
    color: rgb(59, 103, 51);
    transition: all 350ms ease-out 100ms;
    text-decoration: none;
}

.nav__links li a:hover{
    padding: 15px;
    color: white;
}

/* Sign Up and Login Section*/

.forms{
    display: flex;
    justify-content: center;
}

.forms a{
    color: rgb(59, 103, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 350ms ease-out 100ms;
}

.forms img{
    color: rgb(59, 103, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.forms a:hover{
    padding: 15px;;
    color: white;
}


/* ---------------------------------------------------------------------------------------------------------- */

@media (hover:none){
    header{
        display: flex;
        justify-content: space-evenly;
    }
    
    /* Logo section */
    .logo {
        border-radius: 15px;
        height: 100px ;
        width: 100px;
    }
    
    .nav__links {
        display: none;
    }
    
    .forms{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .forms a{
        text-decoration: none;
        margin: 5px;
    }

    /*For textarea  */

    .blog{
        margin-top: 10px;
    }

    .blog_box{
        background-color: aliceblue;
        height: 250px;
        width: 375px;
    }


}



/* ---------------------------------------------------------------------------------------------------------- */
/* body part */


.blog{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    width: 100%;
}

.blog_box{
    border:1px solid red;
    width: 50% ;
    /* height: 50%; */
}