

/* -------------------------------------------------------------------------------------------------------- */
/* NAVIGATION SECTION */

.container{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border:1px solid red;
}

header{
    display: flex;
}

/* Logo section */
.logo {
    display: flex;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: all 350ms ease-out 100ms;
}

.logo:hover{
    padding-left:5px;;
}

/* Navigation Section */
.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

/* .nav__links li{
    padding: 10px;
} */

.nav__links li a{
    color: rgb(59, 103, 51);
    transition: all 350ms ease-out 100ms;
    text-decoration: none;
}

.nav__links li a:hover{
    padding: 15px;
    color: white;
}

/* Sign Up and Login Section*/

.forms{
    display: flex;
    justify-content: center;
}

.forms a{
    color: rgb(59, 103, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 350ms ease-out 100ms;
}

.forms a:hover{
    padding: 15px;;
    color: white;
}


















/* moobile view */
@media (hover:none){
    header{
        display: flex;
        justify-content: space-evenly;
    }
    
    /* Logo section */
    .logo {
        border-radius: 15px;
        height: 100px ;
        width: 100px;
    }    

    button{
        border-color: black;
        border-radius: 5px;
        padding: 5px;
    }

    .nav__links {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav__links li a{
        text-decoration: none;
    }

    .forms{
        display: none;
    }

    .login_form{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
        border: 2px;
        border-color: azure;
    } 

    .login_form div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .item{
        margin: 10px;
        background-color: aquamarine;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 15px;
    }    
}


